<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      async
      src="https://ob.dev.7roundprince.com/i/d7428fa06242ed9fdf2b136e70837e35.js"
      data-ch="cheq4ppc"
      class="ct_clicktrue_49472"
      data-jsonp="onCheqResponse"
    ></script>
    <script src="../scripts/script.js"></script>
    <script src="../scripts/on-cheq-response.js"></script>
    <script src="../scripts/handle-form-submit.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="pages/style.css" />
    <title>My Website</title>
  </head>
  <body>
    <br />
    <h1>Welcome to my demo website</h1>
    <h3>This site illustrates Cheq's core capabilities</h3>

    <hr />
    
    <h4>Homepage RTI Response</h4>
    <pre><span><%- rtiResString %></span></pre>

    <div class="tabs">
      <button class="tab-button" onclick="openTab(event, 'tab1')">
        Defend (RTI)
      </button>
      <button class="tab-button" onclick="openTab(event, 'tab2')">
        Form Guard (SLP)
      </button>
    </div>
    <br />
    <br />
    <br />
    <div id="tab1" class="tab-content">
      <h2>CHEQ Defend</h2>
      <p>Clicking the Subscribe button takes you to the Subscribe page.</p>
      <p>
        UNLESS - you are an invalid visit. In that case you will be redirected
        to a custom url 🤖👋🏼
      </p>
      <span>
        <b>setting custom invalid bot user-agent:</b> Mozilla/5.0 (compatible;
        Googlebot/2.1; +http://www.google.com/bot.html)
      </span>
      <br />
      <button><a href="/subscribe">Subscribe</a></button>
    </div>

    <div id="tab2" class="tab-content">
      <div id="contact-us-form-container">
        <h2>Contact Us</h2>
        <form
          id="contact-us-form"
          class="subscribe-form"
          onsubmit="handleSubmit(event)"
        >
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required />
          </div>
          <input type="hidden" id="hiddenField" name="RequestId" />
          <button type="submit">Submit</button>
        </form>
        <code><pre><span id="response"></span></pre></code>
      </div>
    </div>
  </body>
</html>
