<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://assets.adobedtm.com/2273b6608699/2aa59a6f14de/launch-a17e1d267a9c.min.js"
      async
    ></script>
    <script
      async
      src="https://obs.staging.cheqzone.com/sxp/i/a4ae17f5df2ce58b45a5f2a92399bcd7.js"
      data-ch="cheq4ppc"
      class="ct_clicktrue_49440"
      data-jsonp="onCheqResponse"
    ></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="pages/style.css" />
    <title>My Website</title>
  </head>
  <body>
    <div class="header">
      <br />
      <h1>Welcome to my demo website</h1>
      <h3>This site illustrates Cheq's core capabilities</h3>
      <a href="/logout" id="btn-logout">Logout</a>
      <a href="/" id="btn-envs">Envs</a>
    </div>
    <hr />
    <header>
      <h3>Marketo Form - staging</h3>
      <h4>networkid: 5857</h4>
      <h4>tag_hash: a4ae17f5df2ce58b45a5f2a92399bcd7</h4>
      <h4>Form: Automation -> Form2</h4>
    </header>

    <!-- Marketo Form -->
    <script src="//576-EWM-928.mktoweb.com/js/forms2/js/forms2.min.js"></script>
    <form id="mktoForm_1547"></form>
    <script>
      MktoForms2.loadForm("//576-EWM-928.mktoweb.com", "576-EWM-928", 1547);
    </script>
  </body>
</html>
