<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://assets.adobedtm.com/2273b6608699/2aa59a6f14de/launch-a17e1d267a9c.min.js"
      async
    ></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="pages/style.css" />
    <title>My Website</title>
  </head>
  <body>
    <div class="header">
      <br />
      <h1>Welcome to my demo website</h1>
      <h3>This site illustrates Cheq's core capabilities</h3>
      <a href="/logout" id="btn-logout">Logout</a>
      <a href="/" id="btn-envs">Envs</a>
    </div>
    <hr />
    <header>
      <h3>Marketo Form - prod</h3>
      <h4>networkid: 26888</h4>
      <h4>network name: PD-Automation-Prod</h4>
      <h4>tag_hash: 9f19d6f39a14655942ee416436bba542</h4>
      <h4>Form on Marketo: Automation prod -> FormProd</h4>
    </header>

    <!-- Marketo Form -->
    <script src="//576-EWM-928.mktoweb.com/js/forms2/js/forms2.min.js"></script>
    <form id="mktoForm_3801"></form>
    <script>
      MktoForms2.loadForm("//576-EWM-928.mktoweb.com", "576-EWM-928", 3801);
    </script>
    <script
      async
      src="https://ob.7seasky.com/i/9f19d6f39a14655942ee416436bba542.js"
      data-ch="cheq4ppc"
      class="ct_clicktrue_62826"
      data-jsonp="onCheqResponse"
    ></script>
  </body>
</html>
