<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://assets.adobedtm.com/2273b6608699/2aa59a6f14de/launch-a17e1d267a9c.min.js"
      async
    ></script>

    <script
      charset="utf-8"
      type="text/javascript"
      src="//js-eu1.hsforms.net/forms/embed/v2.js"
    ></script>

    <script
      async
      src="https://euob.staging.cheqzone.com/sxp/i/a4ae17f5df2ce58b45a5f2a92399bcd7.js"
      data-ch="cheq4ppc"
      class="ct_clicktrue_49440"
      data-jsonp="onCheqResponse"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="pages/style.css" />
    <title>My Website</title>
  </head>
  <body>
    <div class="header">
      <br />
      <h1>Welcome to my demo website</h1>
      <h3>This site illustrates Cheq's core capabilities</h3>
      <a href="/logout" id="btn-logout">Logout</a>
      <a href="/" id="btn-envs">Envs</a>
    </div>

    <hr />

    <header>
      <h3>Hubspot Form</h3>
    </header>
    <div id="form-container">
      <script>
        hbspt.forms.create({
          portalId: "143865661",
          formId: "96e9194e-8072-4b6a-a26b-58a762d7be22",
        });
      </script>
    </div>
  </body>
</html>
