<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla Frontend</title>
    <link rel="stylesheet" href="pages/style.css" />
  </head>
  <body>
    <button class="home-button"><a href="/">Back</a></button>
    <h1>The Subscribe Page ✅</h1>
    <p>RTI Response:</p>
    <pre><span><%- rtiResString %></span></pre>
  </body>
</html>
