<!DOCTYPE html>
<html lang="en">

<head>
  <script async src='https://ob.staging.cheqzone.com/i/1521af3272d0ab262423b2095c13ced8.js' data-ch='cheq4ppc'
    class='ct_clicktrue_51852'></script>
  <script src="../scripts/ui-script.js"></script>
  <script src="../scripts/on-cheq-response.js"></script>
  <script src="../scripts/handle-events.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="pages/style.css" />
  <title>Power connector e2e</title>
</head>

<body>
  <div class="header">
    <br />
    <h1>Welcome to a demo website</h1>
    <h3>This site illustrates Cheq's core capabilities</h3>
    <h4>ENV: dev - Power connector e2e</h4>
    <a href="/logout" id="btn-logout">Logout</a>
    <a href="/" id="btn-envs">Envs</a>
  </div>

  <hr />

  <div id="content">
  </div>
</body>

</html>